<html>

  <head>
      <title>Jukka Huhtamäki | Senior Research Fellow</title>

      <!--  Please edit the following to include Google Tag Manager -->
      <!--  include tagmanager.html  -->
      <!-- {% include analytics.html %} -->
      <!-- {% include optimizeantiflicker.html %} -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <!--
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZRN4XN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
    <!-- End Google Tag Manager (noscript) -->

    <!-- Page content -->
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
  </body>
</html>
